<!-- Header menu -->
<nav class="navbar navbar-default navbar-fixed-top navbar-height">
  <div class="container-fluid">
      <div class="fixed-nav">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  <img class="navbar-logo" src="../assets/img/pw_logo.png" alt="People-Ware Recruiting Application">
              </a>
              <div class="navbar-brand">{{title}}</div>
          </div>
      </div>
  </div>
</nav>

<!-- Main Body -->

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    Recruiting Application&nbsp;v0.01&nbsp;&mdash;&nbsp;&copy;&nbsp;2018 PeopleWare
  </div>
</footer>