:host .form-check-label{
    padding-right: 120px;
}

:host .container-list{
    position: absolute;
    padding-left: 25%; 
}

:host .container-content{
    padding-top: 200px; 
}

.card-body-out{
    height: 190px;
    padding: 10px;
    overflow: auto;
}

.card-body{
    height: 150px;
}

div.container-title {
    position: relative;
}

div h1 {
    text-align: left;
    padding-left: 150px; 
}

div button {
    position: absolute;
    right: 10px;
    top: 5px;
}