<div class="container">
  <h1>Post New Job</h1>
</div>
<div class="container">
  <form>

    <div class="form-group">
      <div class="form-group">
        <label class="col-form-label">Job Role</label>
        <input id="jobname" name="jobname" class="form-control" required minlength="2" [(ngModel)]="jobname" placeholder="Job Role"
          #jname="ngModel">
        <small id="jobHelp" class="form-text text-muted">Role of the job.</small>
        <!-- FIELD VALIDATOR -->
        <div *ngIf="jname.invalid && (jname.dirty || jname.touched)" class="alert alert-danger">

          <div *ngIf="jname.errors.required">
            Job Role is required.
          </div>
          <div *ngIf="jname.errors.minlength">
            Job Role must be at least 2 characters long.
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label">Job Description</label>
        <textarea id="description" rows="2" name="description" class="form-control" required minlength="4" placeholder="Job Description"
          [(ngModel)]="description" #dname="ngModel"></textarea>
        <small id="descHelp" class="form-text text-muted">A Brief description regarding the job.</small>
        <!-- FIELD VALIDATOR -->
        <div *ngIf="dname.invalid && (dname.dirty || dname.touched)" class="alert alert-danger">

          <div *ngIf="dname.errors.required">
            Job Description is required.
          </div>
          <div *ngIf="dname.errors.minlength">
            Job Description must be at least 4 characters long.
          </div>

        </div>

      </div>

      <div class="form-group">
        <div class="form-group">
          <label class="col-form-label">Job Type</label>
          <div class="form-check" (click)="radioType($event)">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadis" id="optionsRadis1" value="full-time" checked=""> Full Time
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadis" id="optionsRadis2" value="part-time"> Part Time
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadis" id="optionsRadis2" value="contract"> Contract
            </label>

          </div>

        </div>

      </div>

      <div class="form-group">
        <div class="form-group">
          <label class="col-form-label">Required Academic Degree/s</label>
          <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="degree" placeholder="Academic Degrees" #degname="ngModel"
            (keydown)="degreeKeyFunction($event)" required>
          <small id="degreeHelp" class="form-text text-muted">Type the name of Required Academic Degree. Press Enter to push into the 'Academic Qualifications' section.</small>
          <!-- FIELD VALIDATOR -->
          <div *ngIf="degname.invalid && (degname.dirty || degname.touched)" class="alert alert-danger">

            <div *ngIf="degname.errors.required">
              Academic Qualification is required.
            </div>

          </div>
        </div>
        <div *ngIf="hasDegrees" style="width: 90%; padding-left: 70px;">
          <label class="form-check-label">Academic Qualifications</label>
          <button type="button" class="close" data-dismiss="alert" (click)="closeDegree()">&times;</button>
          <select multiple="" class="form-control">
            <option *ngFor="let d of degrees">{{d}}</option>
          </select>
        </div>

      </div>

      <div class="form-group">
        <div class="form-group">
          <label class="col-form-label">Required Skill/s [5 - Expert .... 1 - Novice]</label>
          <div class="form-check" (click)="radioSkill($event)">
            <label class="form-check-label">Scale of Each Skill</label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="1" checked=""> 1
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="2"> 2
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="3"> 3
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="4"> 4
            </label>
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="5"> 5
            </label>
            <br>

          </div>
          <label class="form-check-label">&nbsp;&nbsp;&nbsp;&nbsp;Skill</label>

          <input type="text" id="skill" name="skill" class="form-control" [(ngModel)]="skill" placeholder="Skill/s" #skname="ngModel"
            (keydown)="skillKeyFunction($event)" required>
          <small id="skillHelp" class="form-text text-muted">Type the required Skill and select the desired Scale. Press Enter to push into the 'SKILLS' section.</small>
          <!-- FIELD VALIDATOR -->
          <div *ngIf="skname.invalid && (skname.dirty || skname.touched)" class="alert alert-danger">

            <div *ngIf="skname.errors.required">
              Atleast One Skill Set is required.
            </div>

          </div>

        </div>

        <div *ngIf="hasSkills" style="width: 90%; padding-left: 70px;">
          <label class="form-check-label">SKILLS</label>
          <button type="button" class="close" data-dismiss="alert" (click)="closeSkill()">&times;</button>
          <select multiple="" class="form-control">
            <option *ngFor="let s of skillSet">{{s}}</option>
          </select>
        </div>

      </div>
      <small *ngIf="hasSkills" style="width: 90%; padding-left: 70px;" id="skillBoxHelp" class="form-text text-muted">Select Skill from here if you wish to edit the scale value.</small>



      <div class="form-group">
        <label class="control-label">Salary</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">CAD$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest CAD)" id="salary" name="salary" required minlength="1"
              appForbiddenName="0" placeholder="Salary" [(ngModel)]="salary" #sname="ngModel" pattern="[0-9]*">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        <small id="salaryHelp" class="form-text text-muted">Salary can be any non decimal value except Zero.</small>
        <!-- FIELD VALIDATOR -->
        <div *ngIf="sname.invalid && (sname.dirty || sname.touched)" class="alert alert-danger">

          <div *ngIf="sname.errors.required">
            Salary is required.
          </div>
          <div *ngIf="sname.errors.minlength">
            Salary must be at least Single Digit.
          </div>
          <div *ngIf="sname.errors.forbiddenName">
            Salary cannot be Zero. Salary must be greater than Zero.
          </div>
          <div *ngIf="sname.errors.pattern">
            Salary must be only digits. Cannot be Zero or Decimal Values either.
          </div>

        </div>
      </div>


      <button type="button" (click)="logout()" class="btn btn-warning" value="LOGOUT">LOGOUT</button>
      <input type="button" (click)="back()" class="btn btn-outline-warning" value="Back To Dashboard">
      <input type="button" (click)="addJob()" class="btn btn-success" value="Add Job">

    </div>
  </form>
</div>

<div class="alert alert-dismissible alert-danger" *ngIf="isEmpty">
  <button type="button" class="close" data-dismiss="alert" (click)="warnClose()">&times;</button>
  <a href="/compDashboard" class="alert-link">{{message}}</a>
</div>