<div class="container">
  <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="allJobsBtnClick()">SEE APPLICANTS</button>
</div>
<div class="container">
  <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="postJobBtnClick()">POST NEW JOB</button>
</div>
<div class="container">
  <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="editJobBtnClick()">EDIT EXISITNG JOB</button>
</div>
<div class="container">
  <button type="button" class="btn btn-outline-warning" (click)="back()">BACK/ LOGOUT</button>
</div>
